@import 'variables.scss';

body {
    font-family: sans-serif;
}

a {
    padding: 0 1em;
}

.pentagon {
    position: relative;
    box-sizing: content-box;
    border-style: solid;

    &::before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-style: solid;
    }

    &.pentagon-top {
        width: $pentagram-side;
        border-width: $trapeze_height $pentagram_offset 0;
        left: 41px;
        top: 41px;

        &::before {
            top: -29px;
            left: -6px;
            border-width: 0 $triangle_half_width $triangle_height;
        }
    }

    &.pentagon-middle {
        width: calc(#{$pentagram_side} * 2);
        border-width: calc(#{$trapeze_height} * 2) calc(#{$pentagram_offset} * 2) 0;
        left: 48px;
        top: 48px;

        &::before {
            top: -58px;
            left: -12px;
            border-width: 0 calc(#{$triangle_half_width} * 2) calc(#{$triangle_height} * 2);
        }
    }

    &.pentagon-bottom {
        width: calc(#{$pentagram_side} * 4);
        border-width: calc(#{$trapeze_height} * 4) calc(#{$pentagram_offset} * 4) 0;
        left: 58px;
        top: 58px;

        &::before {
            top: -115px;
            left: -23px;
            border-width: 0 calc(#{$triangle_half_width} * 4) calc(#{$triangle_height} * 4);
        }
    }

}

.dark-theme {
    background-color: $dark-background;

    .drop-shadow {
        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.27)) drop-shadow(0px 3px 14px rgba(0, 0, 0, 0.16)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.19));
    }

    .pentagon {
        border-color: $dark-color transparent;

        &::before {
            border-color: transparent transparent $dark-color;
        }
    }

    a {
        color: $dark-color;
    }
}

.light-theme {
    background-color: $light-background;

    .drop-shadow {
        filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0px 3px 14px rgba(0, 0, 0, 0.12)) drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.14));
    }

    .pentagon {
        border-color: $light-color transparent;

        &::before {
            border-color: transparent transparent $light-color;
        }
    }

    a {
        color: $light-color;
    }
}