$dark-background: #18262B;
$dark-color: #E68939;
$light-background: #E5E5E5;
$light-color: #159FC2;

// pentagram's sizes

$pentagram_side: 18.8px;
$pentagram_offset: 5.81px;
$trapeze_height: 17.88px;
$triangle_half_width: 15.21px;
$triangle_height: 11.05px;